.profil{
    width: 20%;
    height: 50%;
    }
    .infos-profil{
      width: 20%;
      height: 50%;
    }
    .img-prof{
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    .grid-bis{
    width: 40%;
    }

    .title-spot{
    font-size: 30px;
    color:grey;
    }